body{
    margin: 0;
}

.inter{
    font-family: 'Inter', sans-serif;
}
.beauty{
    font-family: 'Beauty Swing Personal Use', sans-serif;
}
.qt{
    font-family: 'QTOptimum', sans-serif;
}
.helvet{
    font-family: 'HelveticaNeueCyr', sans-serif;
}

.f400{
    font-weight: 400;
}
.f500{
    font-weight: 500;
}
.f600{
    font-weight: 600;
}
.f700{
    font-weight: 700;
}

.black{
    color: #1C2529;
}
.darkgrey{
    color: #6C8693;
}
.grey{
    color: #AAAAAA;
}
.grey1{
    color: #979391;
}
.pasta{
    color: #476676;
}
.darkpasta{
    color: #1E4257;
}
.white50{
    color: rgba(255, 255, 255, 0.5);
}
.lightgrey{
    color: #D9D9D9;
}
.white{
    color: #ffffff;
}

.f17{
    font-size: 17px;
}
.f12{
    font-size: 12px;
}
.f20{
    font-size: 20px;
}
.f24{
    font-size: 24px;
}
.f100{
    font-size: 100px;
}
.f36{
    font-size: 36px;
}
.f10{
    font-size: 10px;
}
.f15{
    font-size: 15px;
}
.f23{
    font-size: 23px;
}
.f30{
    font-size: 30px;
}
.f40{
    font-size: 40px;
}
.f25{
    font-size: 25px;
}
.f8{
    font-size: 8px;
}
.f_up{
    text-transform: uppercase;
}

.w100{
    width: 100%;
}

.m0{
    margin: 0;
}

.flex{
    display: flex;
}
.column{
    flex-direction: column;
}
.ai{
    align-items: center;
}
.center{
    justify-content: center;
}
.sb{
    justify-content: space-between;
}
.sa{
    justify-content: space-around;
}
.ai_start{
    align-items: flex-start;
}

.pad10{
    padding: 0 10%;
    box-sizing: border-box;
}

.header{
    height: 100px;
    border-bottom: 1px solid #E6E6E6;
}
.header_left{
    width: 70%;
}
.menu{
    width: 80%;
}
.noneunderline{
    text-decoration: none;
}
.menu > a:hover{
    font-weight: 600;
    color: #6C8693;
}
.login{
    width: 42px;
    height: 42px;
    border: 1px solid #ECECEC;
    margin-right: 2%;
}
.login2{
    width: 42px;
    height: 42px;
    background-image: radial-gradient(#9CB7C7, #748E9C);
}
.header_right{
    width: 8%;
}

.block1{
    padding-top: 50px;
}
.div_border{
    width: 1px;
    border-right: 1px solid #D9D9D9;
    height: 50px;
}
.block1_l{
    width: 75%;
}
.block1_l_l{
    width: 20%;
}
.block1_l_r{
    width: 75%;
    min-height: 240px;
}

.block1_button{
    height: 64px;
    background-image: radial-gradient(#9CB7C7, #748E9C);
    margin-top: 20px;
    border: none;
}
.block1_img{
    margin-bottom: 27px;
    max-width: 100%;
}
.block1_l_r_mid{
    width: 60%;
}
.block1_r{
    width: 8%;
}
.block1_img1{
    max-height: 20px;
}
.block_menu{
    border-bottom: 1px solid #D9D9D9;
    margin-top: 65px;
    margin-bottom: 65px;
}
.block_menu_l{
    width: 60%;
    height: 57px;
}
.p10{
    width: 100px;
    height: 57px;
    border-top: 1px solid #D9D9D9;
    border-left: 1px solid #D9D9D9;
    border-right: 1px solid #D9D9D9;
    border-bottom: 2px solid #ffffff;
}
.block_menu_r{
    width: 10%;
    height: 57px;
}

.block2_card{
    width: 30%;
    background-color: #ffffff;
}
.img3{
    max-width: 100%;
}

.block2_card_bot_r{
    width: 45%;
    align-items: flex-end;
}
.p11{
    margin: 10px 0 5px;
}
.p12{
    max-width: 80%;
}
.div1{
    width: 20%;
}

.block3_card_bot{
    box-sizing: border-box;
    padding: 4% 0;
}
.block3_row{
    margin-bottom: 32px;
}
.img4{
    margin-left: 5%;
}
.likes{
    justify-content: flex-end;
}
.img_like{
    max-height: 20px;
    margin-left: 4%;
}


.footer{
    background-color: #394348;
    padding: 80px 10%;
    box-sizing: border-box;
    margin-top: 100px;
}
.footer_top_l{
    width: 52%;
    height: 100%;
}
.footer_top{
    height: 156px;
}
.input_footer{
    width: 72%;
    height: 53px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-sizing: border-box;
    padding: 20px;
}
.button_footer{
    width: 25%;
    height: 53px;
    background-color: #FFFFFF;
    border: none;
    color: #6A5843;
}
.en{
    width: 40px;
    height: 40px;
    border: 2px solid #FFFFFF;
    margin-right: 10%;
}
.ru{
    width: 40px;
    height: 40px;
    border: 1px solid #748F9C;
}
.ru:hover{
    border: 2px solid #FFFFFF;
}
.p9{
    max-width: 80%;
}
.footer_top_r{
    width: 20%;
    height: 100%;
}
.enru{
    justify-content: flex-end;
}
.footer_bot_l{
    width: 17%;
}
.footer_bot_r{
    width: 70%;
}
.footer_bot{
    margin-top: 80px;
}   
.img5{
    max-height: 34px;
}
.borderdiv{
    width: 1px;
    height: 44px;
    border-right: 1px solid #748F9C;
}
.footer_bot_r > a{
    text-decoration: none;
}
.footer_bot_r > a:hover{
    font-weight: 600;
    color: #ffffff;
}



@font-face {
    font-family: 'Beauty Swing Personal Use';
    src: url(../fonts/BeautySwingPersonalUse.otf);
    font-style: normal;
}
@font-face {
    font-family: 'QTOptimum';
    src: url(../fonts/QTOptimumBold.ttf);
}
@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url(../fonts/HelveticaNeueCyr-Medium.ttf);
}